.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Alineaciones de textos */
.text-center{
  text-align: center;
}

/* Colores de Fondo y de Texto */
.bg-Orange{
  background-color: #FF9F1C !important;
}
.bg-Peach {
  background-color: #FFBF69 !important;
}
.bg-White{
  background-color: #FFFFFF !important;
}
.bg-Sky {
  background-color: #2EC4B6 !important;
}

.bg-LigthBlue {
  background-color: #CBF3F0 !important;
}

.bg-Black {
  background-color: #000 !important;
}

.text-White {
  color: #FFFFFF !important;
}

.text-Peach {
  color: #FFBF69 !important;
}
.text-Black {
  color: #000 !important;
}

.text-Sky {
  color: #2EC4B6;
}
.text-LigthBlue {
  color: #CBF3F0;
}

/* Containers */

.Principal-Container{
  padding: 5%;
}


/* Botones */

.principal-button{
  background-color: #FF9F1C !important;
  color: #000 !important;
  border-style:solid;
  border-color: #FF9F1C !important;
  margin-top: 1em;
  margin-bottom: 2em;
}

.principal-button:focus {
  z-index: 3;
  border-color: #FF9F1C !important; 
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 159 28 / 25%) !important;
}

.secondary-button{
  background-color: #000 !important;
  color: #FF9F1C !important;
  border-style:solid;
  width: 100%;
  border-color: #000 !important;
  margin-right: 1em;
  margin-bottom: 1em;
}

.secondary-button:focus{
  background-color: #FF9F1C !important;
  color: #000 !important;
  border-style:solid;
  border-color: #FF9F1C !important;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 0 0.25rem rgb(255 159 28 / 25%) !important;
}

.icon-button{
  background-color: #f4d06f !important;
  color: #000 !important;
  border-style:solid;
  border-color: #f4d06f !important;
  border: none;
  margin: 1em;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.icon-button:hover{
  border: 1px solid #888;
  background-color: #ddd;
}

.icon-button:focus {
  z-index: 3;
  border-color: #FF9F1C !important; 
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 159 28 / 25%) !important;
}

/* Buttons-Sections */
.accordion-button:not(.collapsed) {
  color: #000 !important;
  background-color: #FFBF69 !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 1  3%);
}

.accordion-button:focus {
  z-index: 3;
  border-color: #FF9F1C !important; 
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255 159 28 / 25%) !important;
}

/* Floating Button */

.floating-button {
  position: fixed;
  width: 30px;
  height: 30px;
  bottom: 50%;
  right: 97%;
  border-color: transparent !important;
  text-align: center;  
  border-radius: 100% !important;
}


/* Cards */
.Note-Card{
  background-color: #f4d06f !important;
  border-color: #FF9F1C !important; 
  outline: 2;
  min-height: 25em;
  max-height: 25em;  
  overflow-y: hidden;
}
.Note-Card:hover{
  background-color: #f4d06f !important;
  border-color: #FF9F1C !important; 
  outline: 2;
  min-height: 25em;
  max-height: 25em;
  overflow-y: scroll;
}

.Card-Container{
  background-color: #f4d06f !important;
  border-color: #FF9F1C !important; 
  outline: 2;  
}

.FlipCard{
  background-color: lightblue !important;
  border-color: skyblue !important; 
  box-shadow: 6px 0 4px -3px #111, -6px 0 4px -3px #111;
  min-height: 20em;
  width: 100%;
}


.Content-show{
  border: 1px solid #000 !important;
  outline: 2;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
.Modal-Flip{
  background-color: #000000c0 !important;
}

.Modal-Flip-Header{
  background-color: skyblue !important;
}

.Modal-Flip-Body{
  background-color: white !important;
  min-height: 25em;
  max-height: 25em;

}
/* Text */

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}
.text-justify{
  text-align: justify;
}

/* Fields */
.search-field:focus {
    z-index: 3;
    border-color: #FF9F1C !important; 
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(255 159 28 / 25%) !important;
}


/* Color Pick */
.color-pick-box{
  margin: 0.5em;
  border-style: solid;  
  border-color: #000 !important;  
  height: 2em !important;
  width: 2em !important;  
}

.color-pick-box:focus{
  margin: 0.5em;
  border-style: solid;  
  border-color: #000 !important;     
  height: 2em !important;
  width: 2em !important;  
  box-shadow: 0 0 0 0.25rem rgb(255 159 28 / 25%) !important;
}

/* Media Style */

@media only screen and (max-width: 900px) {
  .floating-button {
    right: 96%;
  }
}

@media only screen and (max-width: 600px) {
  .floating-button {
    right: 95%;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
